FBZ_API_HOST=127.0.0.1
FBZ_API_PORT=8080
FBZ_READINESS_TIMEOUT_MS=500
PUBLIC_BASE_URL=http://127.0.0.1:8080
PUBLIC_BASE_URL_ADMIN_EDITABLE=true
RUST_LOG=fbz_api=info,tower_http=info
HTTP_SLOW_LOG_THRESHOLD_MS=1000

DATABASE_URL=postgres://fbz:fbz@127.0.0.1:5432/fbz
DATABASE_MIN_CONNECTIONS=1
DATABASE_MAX_CONNECTIONS=20
DATABASE_ACQUIRE_TIMEOUT_SECONDS=5
DATABASE_IDLE_TIMEOUT_SECONDS=600
DATABASE_MAX_LIFETIME_SECONDS=1800
DATABASE_STATEMENT_TIMEOUT_MS=30000
DATABASE_SLOW_LOG_THRESHOLD_MS=1000
REDIS_URL=redis://127.0.0.1:6379
REDIS_OPERATION_TIMEOUT_MS=2000
REDIS_EVENT_STREAMS_ENABLED=false
REDIS_EVENT_STREAM_KEY=fbz:events
REDIS_EVENT_STREAM_MAX_LEN=50000
REDIS_EVENT_STREAM_BATCH_SIZE=100
REDIS_EVENT_STREAM_INTERVAL_SECONDS=5
REDIS_EVENT_STREAM_LEASE_SECONDS=30
REDIS_EVENT_STREAM_RETRY_BASE_SECONDS=5
REDIS_EVENT_STREAM_RETRY_MAX_SECONDS=300
FBZ_NODE_ROLE=all
FBZ_BOOTSTRAP_ADMIN_USERNAME=
FBZ_BOOTSTRAP_ADMIN_PASSWORD=

METADATA_PROVIDERS=tmdb,tvdb,fanart
TMDB_ACCESS_TOKEN=
TMDB_API_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
TVDB_API_KEY=
TVDB_API_BASE_URL=https://api4.thetvdb.com/v4
FANART_API_KEY=
FANART_API_BASE_URL=https://webservice.fanart.tv/v3

HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=127.0.0.1,localhost
PROXY_POLICY=global-with-provider-override

FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
FBZ_BUNDLED_FFMPEG_DIR=./vendor/ffmpeg
FBZ_ENABLE_BUNDLED_FFMPEG=true

TRANSCODE_CACHE_DIR=./var/transcode
ARTWORK_CACHE_DIR=./var/artwork
STORAGE_BACKEND=filesystem
SCAN_EVENT_RETENTION_DAYS=90
FBZ_SECRET_KEY=
FBZ_SCAN_WORKER_ENABLED=true
FBZ_SCAN_WORKER_INTERVAL_SECONDS=5
FBZ_SCHEDULER_ENABLED=false
FBZ_SCHEDULER_INTERVAL_SECONDS=5
FBZ_TRANSCODE_WORKER_ENABLED=false
FBZ_TRANSCODE_WORKER_INTERVAL_SECONDS=5
FBZ_METADATA_WORKER_ENABLED=true
FBZ_METADATA_WORKER_INTERVAL_SECONDS=10
FBZ_PROBE_WORKER_ENABLED=true
FBZ_PROBE_WORKER_INTERVAL_SECONDS=10
FBZ_PHOTO_WORKER_ENABLED=true
FBZ_PHOTO_WORKER_INTERVAL_SECONDS=10
FBZ_PLUGIN_WORKER_ENABLED=false
FBZ_PLUGIN_WORKER_INTERVAL_SECONDS=5
FBZ_NOTIFICATION_WORKER_ENABLED=false
FBZ_NOTIFICATION_WORKER_INTERVAL_SECONDS=5
FBZ_NOTIFICATION_DELIVERY_TIMEOUT_MS=5000
TRANSCODE_MAX_CONCURRENT=3
TRANSCODE_LEASE_SECONDS=900
TRANSCODE_HARDWARE_MODE=auto
TRANSCODE_HARDWARE_PRIORITY=intel,nvidia,amd
TRANSCODE_SOFTWARE_FALLBACK=true

MEDIA_ROOTS=D:/Media/Movies,D:/Media/TV,D:/Media/Music
STRM_ALLOW_PRIVATE_NETWORKS=true
STRM_ALLOWED_DOMAINS=

PLUGIN_DIR=./plugins
PLUGIN_PACKAGE_DIR=./var/plugin-packages
PLUGIN_DATA_DIR=./var/plugin-data
PLUGIN_CACHE_DIR=./var/plugin-cache
PLUGIN_TMP_DIR=./var/plugin-tmp
PLUGIN_TMP_MAX_AGE_SECONDS=86400
PLUGIN_RUNTIME_DEFAULT=wasi
PLUGIN_REQUIRE_APPROVAL=true
PLUGIN_REQUIRE_REAPPROVAL_ON_PERMISSION_CHANGE=true
PLUGIN_ALLOW_UNSIGNED=false
PLUGIN_TRUSTED_SIGNATURE_KEYS=
PLUGIN_TIMEOUT_MS=5000
PLUGIN_MAX_CONCURRENCY=4
PLUGIN_MEMORY_LIMIT_MB=128
PLUGIN_WASI_FUEL=100000000
PLUGIN_WASI_STDIO_MAX_BYTES=65536
PLUGIN_WASI_MAX_MODULE_BYTES=67108864
PLUGIN_HTTP_MAX_RESPONSE_BODY_BYTES=65536
PLUGIN_HOST_API_MAX_CALLS_PER_RUN=10000
PLUGIN_SECRET_KEY=
PLUGIN_HTTP_ALLOWED_HOSTS=127.0.0.1,localhost,::1,host.docker.internal

SCHEDULE_INCREMENTAL_SCAN=15m
SCHEDULE_FULL_SCAN="0 4 * * *"
SCHEDULE_METADATA_REFRESH="0 5 * * *"
SCHEDULE_TRANSCODE_CLEANUP=hourly
SCHEDULE_SESSION_CLEANUP=10m
SCHEDULE_PARTITION_MAINTENANCE=daily
